<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#333333"/>

    <title>
        {% if page.title %}{{ page.title }}{% if site.title and page.title != site.title %} | {{ site.title }}{% endif
        %}{% else %}{{ site.title }}{% endif %}
    </title>

    {% if page.description or site.description %}
    <meta name="description" content="{{ page.description | default: site.description }}"/>
    {% endif %}

    {% if page.author or site.author %}
    <meta name="author" content="{{ page.author | default: site.author }}"/>
    {% endif %}

    {% if page.keywords or site.keywords %}
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}"/>
    {% endif %}

    {% if page.refresh %}
    <meta http-equiv="refresh" content="{{ page.refresh }}">
    {% endif %}

    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    {% seo %}

    <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | relative_url }}"/>
    <link rel="stylesheet" href="{{ '/css/index.css' | relative_url }}"/>

    {% if page.math or site.math %}
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            },
            options: {skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']}
        };
    </script>
    <script id="MathJax-script" async src="js/tex-mml-chtml.js"></script>
    {% endif %}
</head>
