<header class="flex-shrink-0">
  <div class="container py-3">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <img
              src="{{ '/img/samuel-douglas-caldwell-jr.png' | relative_url }}"
              alt="Samuel Douglas Caldwell Jr."
              width="200"
              height="200"
              class="img-thumbnail"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="col">
            <h1 class="h2 mb-2 left">Sam Caldwell</h1>
            <p class="mb-1">512.712.3095</p>
            <p class="mb-0">Sonora, Texas 76950</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="mb-0">
          <li>Software engineering</li>
          <li>Security research</li>
          <li>DevOps/SRE</li>
          <li>Cloud Infrastructure</li>
        </ul>
      </div>
    </div>
  </div>
</header>
