<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#333333" />

  <title>
    {% if page.title %}{{ page.title }}{% if site.title and page.title != site.title %} | {{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}
  </title>
  {% if page.description or site.description %}
  <meta name="description" content="{{ page.description | default: site.description }}" />
  {% endif %}

  {% seo %}

  <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/css/index.css' | relative_url }}" />
</head>

